<launch>
    <param name="GPSSuperchickPlugin/type" value="gps_agent_pkg/GPSSuperchickPlugin" />
    <!-- rosparam command="load" file="$(find gps_agent_pkg)/launch/pr2_head_controller.yaml" -->
    <rosparam command="load" file="$(find gps_agent_pkg)/launch/superchick_controllers.yaml" />

    <!-- controller params -->
    <param name="GPSSuperchickPlugin/base_name" value="big_bladder_link" />
    <param name="GPSSuperchickPlugin/head_name" value="headnBall_link" />
    <param name="GPSSuperchickPlugin/right_name" value="rightbladder_to_neck" />

    <!-- Spawn Controller -->
    <node name="controller_spawner"
         pkg="pr2_controller_manager" type="pr2_controller_manager" output="screen"
         args="spawn GPSSuperchickPlugin" />

</launch>
